@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{

    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;   
    background-color: #FFFFFF;
    
}    

header{
    margin-top: 10px;
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    
}

nav{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: flex-end;  
}


button{
    width: 150px;
    color: #0A99FE;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    background-color: rgb(10, 153, 254, 0.1);
    font-size: 20px;
    font: normal;

}


button:focus{
    background-color: #0A99FE;
    color: white;
    font-size: 20px;
    font: normal;
}



section{
    max-width: 100%;
    max-height: 400px;
    padding: 2px;
    margin: 40px;
    
}


h3{
    color: #1B1B1B;
    font-size: 20px;
    font: normal;
    margin-left: 40px;
    margin-bottom: 30px;
    
}


span{
    color: #1B1B1B;
    font-size: 20px;
    font: medium;
    display: block;
    width: 100%;
    text-align: center;
    height: 60px; 
    padding: 25px;
}


p{
    color: #868383;
    font-size: 16px;
    font: normal;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    align-content: center;
    padding-top: 25px;
}

img{
    width: 205px;
    height: 60%;
}


li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 275px;
    border: none;
    border-radius: 14px;
    background-color: rgb(134, 131, 131, 0.1);
    margin: 0 20px;
    overflow: hidden;
}

ul{
    width: 100vw;
    height: 100%;
    display: flex;
    list-style: none;
    margin: 5px;
    overflow-x: auto;
}